.card {
  background-image: url(../images/fondo.png);
  border: none;
  -webkit-box-shadow: 0px 4px 47px -21px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 4px 47px -21px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 4px 47px -21px rgba(0, 0, 0, 0.84);
  border-radius: 12px;
}
.card .card-body {
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.card .card-body .card-title {
  font-family: "Bebas Neue", sans-serif;
}
.card:hover .card-body {
  background-color: #1F1F1F;
  color: white;
}

.btn, .button-type2, .button-type1 {
  padding: 20px;
  border: none;
  height: 40px;
  width: fit-content;
  padding: 0 16px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button-type1 {
  background-color: #ED1B2E;
  border-radius: 8px;
}
.button-type1:hover {
  background-color: #fc3545;
}

.button-type2 {
  background-color: #1F1F1F;
  border-radius: 20px;
}
.button-type2:hover {
  background-color: #4a4a4a;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-140px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(140px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes xl-new {
  0% {
    background-size: 110%;
    background-position: center;
  }
  100% {
    background-size: 100%;
    background-position: initial;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none;
}
* .row {
  margin: 0 72px;
}
@media (max-width: 540px) {
  * .row {
    margin: 0 8px;
  }
}
* section {
  margin: 64px 0;
}
@media (max-width: 540px) {
  * .col {
    padding: 0;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}
header .navbar {
  padding: 0;
  align-items: center;
}
header .navbar #navbar {
  background-color: #1F1F1F;
  padding: 0 70px;
  height: 75px;
}
header .navbar #navbar a {
  color: white;
  font-size: 20px;
  padding: 0 24px;
}
header .navbar #navbar a:hover {
  text-decoration: underline 2px;
}
@media (max-width: 540px) {
  header .navbar #navbar a {
    font-size: 20px;
    padding: 8px 24px;
  }
}
header .navbar #navbar #logoXL {
  position: relative;
  top: 32px;
}
@media (max-width: 540px) {
  header .navbar #navbar #logoXL {
    display: none;
  }
}
header .navbar #navbar #logoPhone {
  display: none;
}
@media (max-width: 540px) {
  header .navbar #navbar #logoPhone {
    display: flex;
    padding-left: 8px;
  }
}
header .navbar #navbar .navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar #navbar .navbar-icons button {
  border-style: none;
  background-color: transparent;
  padding: 0px;
  margin-right: 8px;
}
header .navbar #navbar .navbar-icons button:hover {
  background-color: #4a4a4a;
  border-radius: 20px;
}
header .navbar #navbar .navbar-icons button .material-symbols-outlined {
  font-size: 24px;
  color: white;
  padding: 4px;
}
header .navbar #navbar .navbar-icons button #searchIcon {
  background-color: #4a4a4a;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 4px 8px;
  height: 34px;
}
header .navbar #navbar .navbar-icons #searchInput {
  width: 120px;
  height: 34px;
  background-color: #4a4a4a;
  color: white;
  padding: 4px 12px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-style: none;
}
@media (max-width: 540px) {
  header .navbar #navbar .navbar-icons {
    display: none;
  }
}
@media (max-width: 540px) {
  header .navbar #navbar {
    background-color: #1F1F1F;
    padding: 0 8px;
    padding-top: 8px;
    height: 75px;
  }
  header .navbar #navbar #menu {
    color: white;
    padding: 8px;
  }
  header .navbar #navbar .navbar-toggler {
    margin: 0;
    padding: 4px;
  }
  header .navbar #navbar #navbarSupportedContent {
    background-color: #1F1F1F;
    position: relative;
    top: 8px;
    height: 200px;
  }
}
@media (max-width: 540px) {
  header .navbar {
    padding: 0;
    align-items: center;
  }
}
@media (max-width: 540px) {
  header {
    position: fixed;
    top: 0;
  }
}

footer {
  background-color: #1F1F1F;
  padding: 24px 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer #adi {
  margin: 40px 60px;
}
@media (max-width: 540px) {
  footer #adi {
    margin: 0;
  }
}
footer #code {
  margin: 50px 60px;
}
@media (max-width: 540px) {
  footer #code {
    margin: 0;
  }
}
footer #assis {
  margin: 40px 60px;
}
@media (max-width: 540px) {
  footer #assis {
    margin: 0;
  }
}
footer #direct {
  margin: 50px 60px;
}
@media (max-width: 540px) {
  footer #direct {
    margin: 0;
  }
}
@media (max-width: 540px) {
  footer {
    padding: 24px 8px;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
}

.banner-home {
  background-image: url(../images/bannerhome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 420px;
  border-bottom: solid 16px #ED1B2E;
}
@media (max-width: 540px) {
  .banner-home {
    background-position: left 30px;
    height: 200px;
    border-bottom: solid 8px #ED1B2E;
  }
}

.container-home {
  padding: 24px 70px;
}
.container-home #bigTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}
.container-home .calendar {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  box-shadow: rgba(100, 100, 111, 0.375) 0px 7px 29px 0px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.container-home .calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.container-home .calendar h5 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 4px;
}
.container-home .calendar a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .calendar #gameInfo {
  column-gap: 28px;
  padding-top: 24px;
  padding-bottom: 0;
}
.container-home .calendar #gameInfo div {
  flex-direction: column;
  padding: 0;
}
@media (max-width: 540px) {
  .container-home .calendar #gameInfo {
    column-gap: 8px;
  }
}
.container-home .calendar #scores-title {
  padding: 12px 0;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 26px;
  font-weight: 400;
}
.container-home .calendar .scores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  padding-bottom: 24px;
}
.container-home .calendar .scores h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
}
.container-home .calendar .scores .fixture {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 32px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .calendar .scores .fixture p {
  background-color: #1F1F1F;
  border-radius: 8px;
  color: white;
  padding: 4px 16px;
  margin: 0 8px;
}
@media (max-width: 540px) {
  .container-home {
    padding: 8px;
  }
}

.xlnew {
  position: relative;
  padding: 75px 70px 0 70px;
  width: 100%;
  height: 550px;
  background-image: url("../images/river-campeon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  animation-name: xl-new;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  box-shadow: rgba(0, 0, 0, 0.779) 0px -210px 36px -28px inset;
}
.xlnew .xlnew-text {
  color: white;
  padding: 0 80px;
  position: relative;
  bottom: -325px;
  animation-name: fade-up;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
.xlnew .xlnew-text a {
  color: white;
  font-size: 50px;
  font-weight: 400;
}
@media (max-width: 540px) {
  .xlnew .xlnew-text a {
    color: white;
    font-size: 24px;
    font-weight: 400;
  }
}
@media (max-width: 540px) {
  .xlnew .xlnew-text {
    top: 200px;
    font-size: 12px;
    padding: 0 16px;
  }
}
.xlnew:hover .xlnew-text {
  text-decoration: underline 2px;
}
@media (max-width: 540px) {
  .xlnew {
    margin-top: 75px;
    padding: 0;
    width: fit-content;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.779) 0px -110px 45px -25px inset;
    margin-top: 50px;
    animation-name: xl-new;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 0;
  }
}

.news {
  margin: 0 70px;
  padding-top: 24px;
}
.news div {
  padding-bottom: 16px;
}
.news .card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
}
.news .new-odd {
  animation-name: fade-right;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.news .new-even {
  animation-name: fade-left;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
@media (max-width: 540px) {
  .news {
    margin: 0 8px;
  }
}

.banner-team {
  background-image: url(../images/bannerteam.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  height: 310px;
  border-bottom: solid 16px #ED1B2E;
  display: flex;
  align-items: end;
}
.banner-team h1 {
  color: white;
  font-size: 64px;
  font-weight: 600;
  padding-left: 70px;
  padding-bottom: 15px;
}
@media (max-width: 540px) {
  .banner-team {
    display: none;
  }
}

.player-position {
  margin: 0px 72px;
  padding-left: 12px;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 50px;
  font-weight: 400;
}
@media (max-width: 540px) {
  .player-position {
    margin: 32px 0;
    padding: 0;
    text-align: center;
  }
}

.container-team {
  padding: 0;
  margin: 0 70px;
}
.container-team .card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
}
@media (max-width: 540px) {
  .container-team {
    display: none;
  }
}

.container-phone {
  display: none;
}
.container-phone .carousel {
  background-image: url(../images/fondo.png);
  border-radius: 12px;
}
.container-phone .carousel-caption h5 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 4px;
  background-color: #1F1F1F;
  border-radius: 8px;
}
@media (max-width: 540px) {
  .container-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
  }
}

#riverID {
  background-image: url(../images/hinchadas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  height: 100vh;
  padding-top: 75px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#riverID .col-4 {
  width: 300px;
  height: 50%;
}
@media (max-width: 540px) {
  #riverID {
    display: none;
  }
}

#riverID button {
  padding: 0 32px;
  position: relative;
  top: 100%;
}

#phoneRiver {
  display: none;
}
@media (max-width: 540px) {
  #phoneRiver {
    display: block;
    margin-bottom: 0;
  }
  #phoneRiver .stadium-background {
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/aver2.jpg);
    margin: 0;
  }
  #phoneRiver .stadium-background div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
  }
  #phoneRiver .stadium-background #titleId {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #phoneRiver .stadium-background h1 {
    flex-wrap: wrap;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size: 70px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #phoneRiver .stadium-background h2 {
    padding-top: 48px;
    color: white;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #phoneRiver .stadium-background ul {
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(31, 31, 31, 0.4);
    padding: 8px 16px;
    border-radius: 12px;
  }
  #phoneRiver .stadium-background ul li {
    padding: 4px 0;
  }
}

.login-page {
  background-image: url(../images/bk.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 24px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  column-gap: 32px;
}
.login-page .row {
  margin: 12px 32px;
}
.login-page #imgRiverid {
  width: 50%;
}
@media (max-width: 540px) {
  .login-page #imgRiverid {
    width: 75%;
  }
}
.login-page #firstColumn {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.login-page #firstColumn .login .button-type1 {
  width: 100%;
  margin: 24px 12px;
}
.login-page #firstColumn .login .inputs {
  color: white;
  font-size: 18px;
  font-weight: 400;
  background: #4a4a4a;
  border-radius: 6px;
  width: 100%;
  margin: 12px 0;
  padding: 8px;
  border-style: none;
}
.login-page #firstColumn .login #settings #checkbox {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.login-page #firstColumn .login #settings #forgottenPassword {
  color: #ED1B2E;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 540px) {
  .login-page #firstColumn .login #settings #forgottenPassword {
    justify-content: center;
    padding-top: 8px;
  }
}
@media (max-width: 540px) {
  .login-page #firstColumn .login #settings {
    flex-direction: column;
    padding: 0 12px;
  }
}
.login-page #secondColumn {
  height: 90vh;
  background-image: url(../images/Enzo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
}
@media (max-width: 540px) {
  .login-page #secondColumn {
    display: none;
  }
}
@media (max-width: 540px) {
  .login-page {
    padding: 24px 8px;
    margin: 0;
  }
  .login-page .row {
    justify-content: center;
    margin: 16px 0px;
  }
}

/*# sourceMappingURL=main.css.map */
