*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

a{
    text-decoration: none;
}

/*Header*/

header{
    position: fixed;
    width: 100%;
    z-index: 10000000;

}
.navbar{
    padding: 0;
    align-items: center;
}

#navbar{
    background-color: #1F1F1F;
    padding: 0 70px;
    height: 75px;
}

#logoXL{
    position: relative;
    top: 32px;
}

#logoPhone{
    display: none;
}


#navbar a{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 0 24px;
}

#navbar a:hover{
    text-decoration: underline 2px;
}

.navbar-icons{

    display: flex;
    justify-content: center;
}
.navbar-icons button{
    border-style: none;
    background-color: transparent;
    padding: 0px;
    margin-right: 8px;


}

.navbar-icons button:hover{
    background-color: rgba(255, 255, 255, 0.242); 
    border-radius: 20px;
}

.material-symbols-outlined{
    font-size: 24px;
    color: white;
    padding: 4px;
}
#searchIcon{
    background-color: rgba(255, 255, 255, 0.242); 
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 4px 8px;
    height: 34px;
}
#searchInput{
    width: 120px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.242); 
    color: white;
    padding: 4px 12px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-style: none;

}


/*Home*/

.banner-home{
    background-image: url(../Images/bannerhome.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 420px;
    border-bottom: solid 16px #ED1B2E;
}

.container-home{
    padding: 24px 70px;
}


#bigTitle{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom:24px;
}


.calendar{
 display: flex;
 flex-direction: column;
 padding-bottom: 12px;
 box-shadow: rgba(100, 100, 111, 0.375) 0px 7px 29px 0px; 
 border-radius: 12px;
 margin-bottom: 24px;
}
.calendar div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
#gameInfo{
    column-gap: 28px;
    padding-top: 24px;
    padding-bottom: 0;
}
#gameInfo div{
    flex-direction: column;
    padding: 0;
}
.calendar h5{
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
}
.calendar a{
    display: flex;
    justify-content: center;
}


#scores-title{
 padding: 12px 0;
 text-align: center;
 font-family: "Bebas Neue", sans-serif;
 font-size: 26px;
}
.scores{
    display: flex;
    justify-content: center;
    padding: 0 12px;
    padding-bottom: 24px;

}
.scores h2{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    width: 120px;
}

.fixture{

    font-size: 32px;
    font-family: "Bebas Neue",sans-serif;
    display: flex;
    justify-content: center;
}

.fixture p{
    background-color: #1F1F1F;
    border-radius: 8px;
    color: white; 
    padding: 4px 16px;  
    margin: 0 8px; 
}




.button-type1{
    background-color: #ED1B2E;
    border-radius: 8px;
    border: none;    
    height: 40px;
    width: fit-content;
    padding: 0 16px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-content: center;
    align-self: center;
}
.button-type1:hover{
    background-color: #fc3545;
}

.button-type2{
    background-color: #1F1F1F;
    border-radius: 20px;
    border: none;    
    height: 40px;
    width: fit-content;
    padding: 0 16px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-content: center;
    align-self: center;
}
.button-type2:hover{
    background-color: #1f1f1f90;
}

/*Team*/

.banner-team{
    background-image: url(../Images/bannerteam.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 310px;
    border-bottom: solid 16px #ED1B2E;
    display: flex;
    align-items: end;
}
.banner-team h1{
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    padding-left: 70px;
    padding-bottom: 15px;
}

.container-team{

    padding: 0;
    margin: 0 70px ;

}

.row{
    margin: 0 72px;
}

.container-phone {
    display: none;

}

.carousel{
    background-image: url(../Images/fondo.png);
    border-radius: 12px;
}



section{
    margin: 64px 0;
}

.player-position{
    margin: 0px 72px;
    padding-left: 12px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
}


.card{
    background-image: url(../Images/fondo.png);
    border: none;
    -webkit-box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    border-radius: 12px;
}
.card-body{
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card:hover .card-body{
    background-color: #1F1F1F;
    color: white;
}

.card-title{
    font-family: "Bebas Neue", sans-serif;

}

.carousel-caption h5{
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    color: white;
    padding: 4px;
    background-color: #1F1F1F;
    border-radius: 8px;
}



/*News*/




.news{
    margin: 0 70px;
    padding-top: 24px ;

}
.news div{
    padding-bottom: 16px;
}
.xlnew-text{ 
    color:  white;
    padding: 0 80px;
    position: relative;
    bottom: -325px;
}
.xlnew-text a{
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.xlnew {
    position: relative;
    padding: 75px 70px 0 70px;
    width: 100%;
    height: 550px ;
    background-image: url("../images/river-campeon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.779) 0px -210px 36px -28px inset;
     
}
.xlnew:hover .xlnew-text{
    text-decoration: underline 2px;
}


/*RiverID*/

#riverID{
    background-image: url(../Images/hinchadas.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-top:75px ;
    margin: 0;
    display: flex;
    justify-content: center;

}
#riverID .col-4{
    width: 300px;
    height: 50%;

}
#riverID button{
    padding: 0 32px;
    position: relative;
    top: 100%;
}

#phoneRiver{
    display: none;
}




/*LogIn*/


.login-page{
    background-color: #141414;
    margin: 0;
    padding: 24px 70px;
    display: flex;
    justify-content: center;
    height: 100vh;
    column-gap: 32px;

}

#firstColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#secondcolumn{
    background-image: url(../Images/Enzo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
}


.login-page .row{
    margin: 12px 32px;
}


.login .button-type1{
    width: 100%;
    margin: 24px 12px;
}
.inputs {
    font-size: 24px;
    font-size: 18px;
    background: rgba(143, 143, 143, 0.119);
    border-radius: 6px;
    width: 100%;
    margin:12px 0 ;
    padding: 8px;
    border-style: none;
    color: white;
}
#checkbox{
    color: white;
    font-size: 14px;
}
#forgottenPassword{
    color: #F01202;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: end;
}

#imgRiverid{
    width: 50%;
}



/*Footer*/

footer {
    background-color: #1f1f1f;
    padding: 24px 70px;
    display: flex;
    justify-content: space-evenly;
}




#adi {
    margin: 40px 60px;
}
#code{
    margin: 50px 60px;
}
#assis{
    margin: 40px 60px ;
}
#direct{
    margin: 50px 60px;
}



@media (max-width: 520px){

    /*Header*/

    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000000;
    
    }
    .navbar{
        padding: 0;
        align-items: center;
    }
    
    #navbar{
        background-color: #1F1F1F;
        padding: 0 8px;
        padding-top: 8px;
        height: 75px;
    }
    #navbarSupportedContent{
        background-color: #1F1F1F;
        position: relative;
        top: 8px;
        height: 200px;
    }
    
    #logoXL{
        display: none;
    }

    #logoPhone{
        display: flex;
        padding-left: 8px;
    }

    .navbar-toggler{
        margin: 0;
        padding: 4px;
    }
    #menu{
        color: white;
        padding: 8px;   
    }

    #navbar a{
        font-size: 20px;
        padding: 8px 24px;
    }
    
    
    .navbar-icons{
        display: none;
    }



    /*Home*/
    .banner-home{
        background-size: cover;
        background-position: left 30px;
        height: 200px;
        border-bottom: solid 8px #ED1B2E;
    }
    .row{
        margin: 0 8px;
    }
    .col{
        padding: 0 ;
    }
    
    .container-home{ 
        padding: 8px;
    }
    
    #gameInfo{
        column-gap: 8px;
    }


    /*News*/

    .xlnew{
        background-size: cover;
        margin-top: 75px;
        padding: 0;
        width: fit-content;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.779) 0px -110px 45px -25px inset;
    }
    .news{
     margin: 0 8px;
    }

    .xlnew-text{ 
        top: 200px;
        font-size: 12px;
        padding: 0 16px ;
    }
    .xlnew-text a{
        font-size: 24px;
        text-decoration: none;
        color: white;
    }
    

    /*Team*/

    .banner-team{
        display: none;
    }
    .container-team{
        display: none;
    }
    .container-phone{
        display: flex;
        justify-content: center;
        margin: 18px;
    }

    .player-position{
        margin: 32px 0;
        padding: 0;
        text-align: center;
    }


    /*River ID*/
    #riverID{
        display: none;
    }
    
    #phoneRiver{
        display: block;
        margin-bottom:0 ;
    }

    .stadium-background{
        height: fit-content;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-image: url(../Images/aver2.jpg);
        margin: 0;
    }

    .stadium-background div{
        display: flex;
        padding-top: 24px;
        justify-content: center;
    }
    .stadium-background .button-type1{
        padding: 8px 48px;
    }
    #titleId{
        justify-content: center;
    }
    .stadium-background h1{
        flex-wrap: wrap;
        color: white;
        font-family: "Bebas Neue",sans-serif;
        font-size: 70px;
        text-align: center;
    }
    .stadium-background h2{
        padding-top: 48px;
        color: white;
        font-size: 28px;
        text-align: center;
    }
    .stadium-background ul{
        color: white;
        font-size: 14px;
        background-color: #1f1f1f66;
        padding: 8px 16px;
        border-radius: 12px;
    }
    .stadium-background li{
        padding: 4px 0;
    }


    .id-image{
        background-image: url(../Images/River\ large.png);
        background-size: cover;
        height: 200px;
        width: 100%;
        margin: 0;
        padding: 0 8px;
    }



    /*LogIn*/
    #secondColumn{
        display: none;
    }
    .login-page{
        padding: 24px 8px;
        margin: 0;
    }
    .login-page .row{
        justify-content: center;
    }

    .login-page .row{
        margin: 16px 0px;
    }
    #imgRiverid{
        width: 75%;
    }
    #settings{
        flex-direction: column;
        padding: 0 12px;
    }
    #forgottenPassword{
        justify-content: center;
        padding: 8px 0;
    }



    /*Footer*/

    footer {
        padding: 24px 8px;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;

    }
    
    
    #adi {
        margin: 0;
    }
    #code{
        margin: 0;
    }
    #assis{
        margin: 0 ;
    }
    #direct{
        margin: 0;
    }
    
}