$colors: (
    accent: #ED1B2E,
    accent-light:#fc3545,
    secondary: white,
    terciary: black,
    bk: white,
    comp-bk:#1F1F1F,
    comp-bk-light:#4a4a4a,
);

 

@mixin flexbox( $jc, $ai){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin bk-img($bks, $bkp){
    background-size: $bks;
    background-repeat: no-repeat;
    background-position: $bkp;
}

@mixin font($fc, $fs, $fw){
    color: $fc;
    font-size: $fs;
    font-weight: $fw;
}

@mixin bebas($fc, $fs, $fw){
    font-family: "Bebas Neue", sans-serif;
    color: $fc;
    font-size: $fs;
    font-weight: $fw;
}

@mixin media-query-mobile{
    @media ( max-width: 540px ) {
        @content;
    };
}

@mixin anim-params($an, $ad, $atf, $aic){
    animation-name: $an;
    animation-duration: $ad;
    animation-timing-function: $atf;
    animation-iteration-count: $aic;
}

.card{
    background-image: url(../Images/fondo.png);
    border: none;
    -webkit-box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    border-radius: 12px;
    .card-body{
        background-color: map-get($colors, secondary );
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        .card-title{
            font-family: "Bebas Neue", sans-serif;
        }        
    } 

    &:hover{
        .card-body{
            background-color: map-get($colors, comp-bk );
            color: map-get($colors, secondary );
            
        }        
    } 
}

.btn{
    padding: 20px;
    border: none;  
    height: 40px;
    width: fit-content;
    padding: 0 16px;
    color: map-get($colors, secondary );
    font-size: 16px;
    font-weight: 600;
    @include flexbox(center,center);
    align-self: center;
}

.button-type1{
    @extend .btn;
    background-color: map-get($colors, accent);
    border-radius: 8px;
    &:hover{
        background-color: map-get($colors, accent-light)

    }
}

.button-type2{
    @extend .btn;
    background-color: map-get($colors, comp-bk);
    border-radius: 20px;
    &:hover{
        background-color: map-get($colors, comp-bk-light);   
    }   
}


@keyframes fade-right {
    0%{
        opacity: 0;
        transform: translateX(-140px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
@keyframes fade-left {
    0%{
        opacity: 0;
        transform: translateX(140px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(140px) ;
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes xl-new{
    0%{
        background-size: 110%;
        background-position: center;
    }
    100%{
        background-size: 100%;
        background-position: initial;          
    }
}

