$colors: (
    accent: #ED1B2E,
    accent-light:#fc3545,
    secondary: white,
    terciary: black,
    bk: white,
    comp-bk:#1F1F1F,
    comp-bk-light:rgba(255, 255, 255, 0.242),
);



@mixin flexbox( $jc, $ai){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin bk-img($bks, $bkp){
    background-size: $bks;
    background-repeat: no-repeat;
    background-position: $bkp;
}

@mixin font($fc, $fs, $fw){
    color: $fc;
    font-size: $fs;
    font-weight: $fw;
}

@mixin bebas($fc, $fs, $fw){
    font-family: "Bebas Neue", sans-serif;
    color: $fc;
    font-size: $fs;
    font-weight: $fw;
}

@mixin media-query-mobile{
    @media ( max-width: 540px ) {
        @content;
    };
}

.card{
    background-image: url(../Images/fondo.png);
    border: none;
    -webkit-box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    box-shadow: 0px 4px 47px -21px rgba(0,0,0,0.84);
    border-radius: 12px;
    .card-body{
        background-color: map-get($colors, secondary );
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        .card-title{
            font-family: "Bebas Neue", sans-serif;
        }        
    } 

    &:hover{
        .card-body{
            background-color: map-get($colors, comp-bk );
            color: map-get($colors, secondary );
        }        
    } 
}

.btn{
    padding: 20px;
    border: none;  
    height: 40px;
    width: fit-content;
    padding: 0 16px;
    color: map-get($colors, secondary );
    font-size: 16px;
    font-weight: 600;
    @include flexbox(center,center);
    align-self: center;
}

.button-type1{
    @extend .btn;
    background-color: map-get($colors, accent);
    border-radius: 8px;
    &:hover{
        background-color: map-get($colors, accent-light)

    }
}

.button-type2{
    @extend .btn;
    background-color: map-get($colors, comp-bk);
    border-radius: 20px;
    &:hover{
        background-color: map-get($colors, comp-bk-light);   
    }   
}

