.login-page{
    background-color: #141414;
    margin: 0;
    padding: 24px 70px;
    @include flexbox(center,center);
    height: 100vh;
    column-gap: 32px;
    .row{
        margin: 12px 32px;
    }
    #imgRiverid{
        width: 50%;
        @include media-query-mobile(){
            width: 75%;
        }
    }
    #firstColumn{
        @include flexbox(center,start);
        flex-direction: column;
        
        .login{
            .button-type1{
                width: 100%;
                margin: 24px 12px;
            }   
            .inputs {
                @include font(map-get($colors,secondary),18px,400);
                background: map-get($colors, comp-bk-light);
                border-radius: 6px;
                width: 100%;
                margin:12px 0 ;
                padding: 8px;
                border-style: none;
            }            
            #settings{

                #checkbox{
                    @include font(map-get($colors,secondary),14px,400);
                }
                #forgottenPassword{
                    @include font(map-get($colors,accent),14px,400);
                    @include flexbox(end,center);
                    @include media-query-mobile(){
                     padding: 8px 0;
                    }
                } 
                @include media-query-mobile(){
                    flex-direction: column;
                    padding: 0 12px;
                }          
            } 

        }        
    }
    #secondColumn{
     background-image: url(../images/Enzo.jpg);
     @include bk-img(contain,center);
     border-radius: 24px;
        @include media-query-mobile(){
            display: none;
        }
    }

    @include media-query-mobile(){
        padding: 24px 8px;
        margin: 0;
        .row{
            justify-content: center;
            margin: 16px 0px;
        }
    }
}





 




