

.xlnew {
    position: relative;
    padding: 75px 70px 0 70px;
    width: 100%;
    height: 550px ;
    background-image: url("../images/river-campeon.jpg");
    @include bk-img(cover,initial);
    @include anim-params(xl-new, 4s, ease, 1);
    box-shadow: rgba(0, 0, 0, 0.779) 0px -210px 36px -28px inset;
    .xlnew-text{ 
        color:  map-get($colors, secondary );
        padding: 0 80px;
        position: relative;
        bottom: -325px;
        @include anim-params(fade-up, 1s, ease-in, 1);
        a{
            @include font(map-get($colors,secondary),50px,400);

            @include media-query-mobile(){
                @include font(map-get($colors,secondary),24px,400);
            }
        }

        @include media-query-mobile(){
            top: 200px;
            font-size: 12px;
            padding: 0 16px ;
        }
    }    
    
    &:hover{
        .xlnew-text{
            text-decoration: underline 2px;
        }
    }


    @include media-query-mobile(){
        margin-top: 75px;
        padding: 0;
        width: fit-content;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.779) 0px -110px 45px -25px inset;
        margin-top: 50px;
    }
}





.news{
    margin: 0 70px;
    padding-top: 24px ;
    div{
        padding-bottom: 16px;
    }
    .card{
        &:hover{
            transform: scale(1.02);
            transition: all 0.2s ease;
        }
    }
    .new-odd{
        @include anim-params(fade-right, 1s, ease, 1);        

    }
    .new-even{
     @include anim-params(fade-left, 1s, ease, 1);        
    }


    @include media-query-mobile(){
        margin: 0 8px;
    }
}
