#riverID{
    background-image: url(../images/hinchadas.jpg);
    @include bk-img(cover,initial);  
    height: 100vh;
    padding-top:75px ;
    margin: 0;
 @include flexbox(center,center);
    .col-4{
        width: 300px;
        height: 50%;
    } 
    @include media-query-mobile(){
        display: none;
    }
}
#riverID button{
    padding: 0 32px;
    position: relative;
    top: 100%;
}

#phoneRiver{
    display: none;
    @include media-query-mobile(){
        display: block;
        margin-bottom:0 ;
        .stadium-background{
            height: fit-content;
            @include bk-img(cover,center);           
            background-attachment: fixed;

            background-image: url(../images/aver2.jpg);
            margin: 0;
            div{
                @include flexbox(center, center);
                padding-top: 24px;
            }
            #titleId{
                @include flexbox(center, center);                
            }
            h1{
                flex-wrap: wrap;
                color: map-get($colors, secondary );
                @include bebas(map-get($colors, secondary),70px,400);
                @include flexbox(center,center);
            }
            h2{
                padding-top: 48px;
                @include font(map-get($colors,secondary),28px,400);
                @include flexbox(center,center);
            }
            ul{
                @include font(map-get($colors,secondary),14px,400);
                background-color: #1f1f1f66;
                padding: 8px 16px;
                border-radius: 12px;
                li{
                    padding: 4px 0;
                }                
            }

        }
    }
}