.banner-team{
    background-image: url(../images/bannerteam.jpg);
    @include bk-img(cover,initial);
    height: 310px;
    border-bottom: solid 16px map-get($colors , accent );
    display: flex;
    align-items: end;
    h1{
        @include font(map-get($colors,secondary),64px,600);
        padding-left: 70px;
        padding-bottom: 15px;
    } 
    @include media-query-mobile(){
        display: none;
    }
}


.player-position{
    margin: 0px 72px;
    padding-left: 12px;
    @include bebas(black,50px,400);
    @include media-query-mobile(){
        margin: 32px 0;
        padding: 0;
        text-align: center;
    }
}

.container-team{
    padding: 0;
    margin: 0 70px ;
    .card{
        &:hover{
            transform: scale(1.02);
            transition: all 0.2s ease;
        }
    }
    @include media-query-mobile(){
        display: none;
    }

}


.container-phone {
    display: none;
    .carousel{
        background-image: url(../images/fondo.png);
        border-radius: 12px;
    }

    .carousel-caption{
        h5{
            @include bebas(map-get($colors,secondary),24px,400);
            padding: 4px;
            background-color: map-get($colors, comp-bk );
            border-radius: 8px;
        }        
    }
    @include media-query-mobile(){
        @include flexbox(center, center);
        margin: 18px;
    }
}









